.line {
	width: 80%;
	border: 1px solid rgba(0, 0, 0, .8);
	position: relative;
	margin: 0 auto;
	margin-top: 75px;
}

.line-text {
	position: absolute;
	background: #f1f1f1;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	width: 180px;
	left: calc(50% - 90px);
	top:-11px;
}
.texts>p{
	text-align: center;
	margin-top: 30px;
}
.imgda>img{
	width: 100%;
}
.imgda{
	margin-bottom: 30px;
}
.imglist{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.imglist>li{
	width: 31.5%;
	height: 380px;
	position: relative;
}
.imglist>li>img{
	width: 100%;
	height: 100%;
}
.kuai{
	position: absolute;
	width: 100%;
	height: 110px;
	background-color: rgba(0,0,0,.6);
	box-sizing: border-box;
	padding: 25px 0;
	bottom: -50px;
	left: 0;
	transition: all .4s;
}
.kuai>p{
	color: #fff;
	text-align: center;
}
.kuai>p:first-child{
	margin-bottom: 20px;
}
.imglist>li:hover .kuai{
	bottom: 0px;
}